.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.profile {
    width: 27em;
    box-shadow: 0.5em 0.5em darkgray;
    background-color: lightblue;
    margin: 1em;
    padding: 1em;
}

.volume-table {
    border-collapse: collapse;
}

.volume-table th, td {
    border: 1px solid darkgray;
}

.th-ip, .th-host {
    text-align: left;
    padding: 2px 0.5em 2px 0.5em;
}

.th-byte {
    text-align: right;
    padding: 2px 0.5em 2px 0.5em;
}

.td-ip, .td-host {
    text-align: left;
    padding: 2px 0.5em 2px 0.5em;
}

.td-host {
    font-size: small;
    width: 10em;
}

.td-byte {
    text-align: right;
    padding: 2px 0.5em 2px 0.5em;
    white-space: nowrap;
}

